#header { 
    text-align: left;
    font-weight: bold;
    background-color: red;
    border: 3px solid black;
    background: url("images/chicago.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    color: white;     
}
body {
	background: url("bg2.jpg") no-repeat center center fixed;
	background-size: cover;	 
}

#links{	
	color: #FFA500;
	float: left;
	width: 250px;
	height: 1000px;
	font-size: 25px;
}

#links a:link,
#links a:visited{
	color: yellow;
}

#links a:hover{
	color: #00FFFF;
}



#links #link{	
	font-size: 20px;
	font-family: "sans-serif";
}

#links #link:hover{	
	font-weight: bold;
	font-style: italic;
}

#photos{	
	color: white;
	margin-left: 260px;
	text-align: center;	
	font-size: 25px;
}

#link_header{
	text-align: center;
	border-radius: 666px;
	border-color: black;	
}