.border {  
  border: 3px solid red;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Times New Roman";
  color: #A52A2A;
  background-color: orange;
  margin-top: 0;
  margin-bottom: 0;
 }

 .para {
	border: 1px solid #FF8000;  
  font-family: "Times New Roman";
  color: #8A0808;
  background-color: #F3E2A9;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 20;
  text-indent: 10;
 }