.div-with-bg
{
	background-image: url(images/photobg.jpg);
}

.border {  
  border: 3px solid blue;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Times New Roman";
  color: #A52A2A;
  background-color: #00FFFF;
  margin-top: 0;
  margin-bottom: 0;
 }

.white-text{
	font-size: 50;
	color: white;
	margin-top: 0;
  margin-bottom: 0;	
}